body{
    background-color: whitesmoke;
    margin-top: -1%;
}

div{
    border: 0px solid whitesmoke;
    font-size: 24px;
    height: 80px;
    text-align: center;
    background-color:white;
}

.sidebar_header{
    float: left;
    width: 33%;
    height: 400px;
    background-color: whitesmoke;
}
.header{
    height: 400px;
    width: 100%;
    line-height: 400px;
    font-style: italic;
    color: darkgrey;
    text-align: middle;
}

.center_img{
    display: block;
    margin-top: 25%;
    margin-bottom: 15%;
    margin-left: 25%;
}

.sidebar_contacts{
    float: left;
    width: 33%;
    height: 120px;
    background-color: rgb(245, 245, 245);
    font-style: oblique;
    color: goldenrod;
}
.contacts{
    height: 120px;
    width:100%;
    text-align: center;
    font-size: 12px;
}

td{
    height:100%; 
    text-align:center;
    color: gray;
    font-size: 18px;
    padding: 20px;
    
}

th{
    height:100%; 
    text-align:center;
    color: rgb(109, 109, 109);
    font-size: 18px;
}

table{
    margin:auto;
    border-bottom: 2px solid gainsboro;
}

.sidebar_intro{
    float: left;
    width: 33%;
    height: 150px;
    background-color: rgb(242, 242, 242);
    line-height: 33px;
    color: darkgrey;
    margin-right: 18px;
}
.info_intro{
    height: 150px;
    width: 100%;
    background-color: rgb(253, 253, 253);
    text-align: left;
    font-size: 18px;
    color:gray;
}

p {
    margin: 0px;
    padding: 20px 15px;
}

li{
    padding-right: 20px;
}

.sidebar_skills_info{
    float: left;
    width: 33%;
    height: 450px;
    background-color: whitesmoke;
    line-height: 380px;
    color: darkgrey;
    margin-right: 18px;

}
.info_skills_info{
    height: 450px;
    width: 100%;
    text-align: left;
    font-size: 18px;
    color:gray;
}

.sidebar_additional_info{
    float: left;
    width: 33%;
    height: 330px;
    background-color: rgb(242, 242, 242);
    line-height: 270px;
    color: darkgrey;
    margin-right: 18px;

}
.info_additional_info{
    height: 330px;
    width: 100%;
    background-color: rgb(253, 253, 253);
    text-align: left;
    font-size: 18px;
    color:gray;
}

.sidebar_important_dates{
    float: left;
    width: 33%;
    height: 255px;
    background-color: whitesmoke;    
    line-height: 120px;
    color: darkgrey;
    margin-right: 18px;
}

.info_important_dates{
    height: 255px;
    width: 100%;
    text-align: left;
    font-size: 18px;
    color:gray;
}

